@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  overflow-x: hidden;
}

* {
  scroll-behavior: smooth;
}

[hidden] {
  display: none;
}

.NOTE_CONTENT *:not(pre) code {
  @apply bg-gray-200 rounded py-1 px-2 inline-block;
  font-size: 0.85em;
}

.NOTE_CONTENT h1:not(:first-child) {
  @apply mt-16;
}

.medium-zoom-overlay {
  z-index: 98;
  cursor: pointer;
}

.medium-zoom-image--opened {
  z-index: 99;
}

@screen lg {
  .NOTE_CONTENT iframe {
    min-height: 40.5rem;
  }
}
